@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", "Ubuntu";
}
:root {
  --main-text-color: white;
  --main-color: hsl(356, 100%, 66%);
  --second-color: hsl(355, 100%, 74%);
}

/*--------&&&---HEADER SECTION---&&&---------*/
header {
  height: 75vh;
  max-width: 1440px;
  background: var(--main-color) url("../images/bg-pattern-intro-desktop.svg")
    no-repeat center;
  background-size: cover;
}
.header-container {
  height: 20vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.left-nav nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.left-nav nav ul li {
  letter-spacing: 1.3;
  font-size: 1em;
  font-weight: 600;
  padding-left: 24px;
  cursor: pointer;
}
.left-nav nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
}
.left-nav nav ul li a:hover {
  color: var(--second-color);
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.log-in,
.sign-up {
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}
.log-in {
  color: var(--main-text-color);
}
.log-in:hover {
  border: 1px solid var(--main-text-color);
  border-radius: 50px;
  color: var(--main-text-color);
  transition: all 0.2s ease;
  padding: 10px 16px;
}
.sign-up {
  border: 1px solid;
  background-color: var(--main-text-color);
  color: var(--second-color);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sign-up:hover {
  color: var(--main-color);
}
/*---&&&--DROP DOWN MENU--&&&---*/
.left-nav nav ul li ul {
  margin-top: 8px;
  padding: 8px 0;
  display: none;
  position: absolute;
  background-color: var(--main-text-color);
  border-radius: 4px;
  width: 150px;
}

.left-nav nav ul li ul li a {
  color: rgb(68, 67, 67);
}
.left-nav nav ul li ul li a:hover {
  color: #000;
}
.left-nav nav ul li ul li {
  padding: 4px;
  text-align: center;
  width: 100%;
}
.left-nav nav ul li:hover ul {
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero h1,
p {
  text-align: center;
  color: var(--main-text-color);
  line-height: 1.5;
}
.hero h1 {
  line-height: 2.5;
  font-weight: 700;
  font-size: 2.5em;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 60px;
  width: 300px;
  gap: 10px;
}
.start-free,
.learn-more {
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-free {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: var(--main-text-color);
  color: var(--second-color);
}
.learn-more {
  border: 1px solid;
  color: var(--main-text-color);
}
.start-free:hover {
  color: var(--main-color);
  transition: all 0.2s ease;
}
.learn-more:hover {
  border: 1px solid var(--main-text-color);
  border-radius: 50px;
  color: var(--main-text-color);
  transition: all 0.2s ease;
}
/*---------&&&&---CLOSE HEADER SECTION---&&&&---------*/
/*---------&&&&---START MAIN SECTION---&&&&---------*/
.main-container {
  max-width: 1440;
  overflow: hidden;
  position: relative;

}
.design-title {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.75;
}
.intro {
  width: 80%;
  margin: 0 auto;
}
.left-right-intro {
  display: flex;
  height: 85vh;
}
.left-right-intro .text {
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}
.left-right-intro .text h3 {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 12px;
  text-align: start;
}
.left-right-intro .text p {
  text-align: start;
  line-height: 1.2;
  font-weight: 300;
  color: rgb(34, 33, 33);
  padding-bottom: 10px;
}
.left-right-into,
.text .text1 {
  margin-bottom: 30px;
}
.left-right-intro .image {
  max-width: 100%;
  height: 600px;
  position: absolute;
  top: 20px;
  right: -170px;
}
.left-right-intro .image img {
  height: 100%;
  width: 100%;
}
.mobile-image {
  height: 200px;
  background-color: gray;
  width: 80%;
  margin: 0 auto;
  
}

.left-right-mobile{
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 600px;
} 
